<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.retrofit.recyclerview">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    android:name=".common.utils.MainApplication"-->
    <application

        android:allowBackup="true"
        android:icon="@drawable/restaurant"
        android:label="Restaurants"
        android:roundIcon="@drawable/restaurant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>